@charset "utf-8";

@import url(style.css);

body{
	background:#20605F;
	color: #2a4625;
	font-family: Helvetica, Arial, Tahoma ;
	font-size: 11px;
	

}
.contenedor{
	/*width: 100%;*/
	min-height: 600px;
	max-height: 1120px;
	background:#C0C0C0;
	margin-left: auto;
	padding-top: 5px;
	margin-right: auto;
	width: 960px;}
}
.linea_gris{
	height: auto;
	border-top: 1px solid #470603;
	border-bottom: 1px solid #470603;
}